main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    background-color: bisque;
}

img {
    border: 10px solid bisque
}

figcaption {
    text-align: center;
    font-size: xx-large;
    background-color: bisque;
    padding-bottom: 1rem;
}