* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

header {
    text-align: center;
    padding-bottom: 2.2rem;
    background-color: rgb(223, 0, 0);
    padding-top: 2rem;
}

button {
    padding: .8rem;
    border-radius: 8px;
    color: yellow;
    background-color: blue;
    font-weight: 700;
    border-color: rgb(0, 0, 134);
}

button:hover {
    color: blue;
    background-color: yellow;
}

h1 {
    font-size: 72px;
    color: yellow;
    text-shadow: 5px 5px 5px blue;
}

h4 {
    text-align: center;
    color: yellow;
}

li {
    text-align: center;
    text-decoration-style: none;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    background: rgb(255, 243, 243);
}

.scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
    margin: 1.5rem;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    align-items: center;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background: #5fabf1;
    border-style: solid;
    border-radius: 1rem;
    border-width: 10px;
    border-color: yellow;
}

.back {
    background: rgb(0, 0, 150);
    transform: rotateY(180deg);
    border-style: solid;
    border-radius: 1rem;
    border-width: 10px;
    border-color: rgb(0, 0, 99);
}

figure img {
    width: 180px;
}

figcaption {
    text-align: center;
}

figcaption::first-letter {
    text-transform: capitalize;
    font-size: 120%;
    line-height: 3em;
}