* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url("/images/starsbg.jpg");
    margin: 0;
} 

 header {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    font-size: 64px;
    font-weight: 700;
    color: white;
    text-decoration: underline;
    text-underline-offset: 13px;
 }

.nav {
    background-color: black;
    padding: 1rem;
    border: 2px solid #999;
}

li {
    color: white;
}

li:hover {
    color: #999;
}

#main {
    display: flex;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 10px ;
}

.box {
    background-color: #999;
    text-align: center;
    font-size: xx-large;
    color: black;
}